<!DOCTYPE html>
<html ng-app="tweetsApp">
<head>
  <title>Get Tweets</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-route.min.js"></script>
  <script type="text/javascript" src="js/angular-animate.min.js"></script>
  <script type="text/javascript" src="js/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="js/mainModule.js"></script>
  <script type="text/javascript" src="js/myFactory.js"></script>
  <script type="text/javascript" src="js/mainController.js"></script>
</head>
<body ng-controller="mainController">
  <div class="container">
    <div id="header" class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center">
        <form ng-submit="updateHash()">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="userHash" placeholder="Enter a hashtag" required="string" ng-maxlength="20" ng-minlength="3">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Get tweets</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <div id="views">
      <div class="row tweet-row" ng-repeat="tweet in tweets" ng-style="{'background-image':'url({{tweet.user.profile_background_image_url}})'}">
        <h1>
          <div ng-bind-html="tweet.text | linky"></div>
        </h1>
        <h3>{{tweet.user.name}} - {{tweet.sinceTweeted}} {{tweet.timeUnits}} ago</h3>
      </div>
      <div class="row tweet-row" ng-repeat="tweet in tweets" ng-style="{'background-image':'url({{tweet.user.profile_background_image_url}})'}">
        <h1>
          <div ng-bind-html="tweet.text | linky"></div>
        </h1>
        <h3>{{tweet.user.name}} - {{tweet.sinceTweeted}} {{tweet.timeUnits}} ago</h3>
      </div>
    </div>
  </div>
</body>
</html>